################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KHN.FileUploader.API/obj/Debug/net8.0
/KHN.FileUploader.API/obj/Debug/net8.0
/KHN.FileUploader.API/obj/Debug/net8.0
/KHN.FileUploader.API/obj/Debug/net8.0
/.vs/KHN.FileUploader
/KHN.FileUploader.API/bin/Debug/net8.0
